/* Start variables */
:root {
  --main-color: #19c8fa;
  --transparent-color: rgb(15 116 143 / 70%);
  --section-padding: 100px;
}
/* End variables */

/*Start component  */

.special-head {
  font-size: 2.5rem;
  font-weight: normal;
  text-transform: uppercase;
}

.head-line {
  width: 140px;
  height: 3px;
  background-color: black;
  margin: 30px auto;
  position: relative;
}

.head-line::after {
  content: "";
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid black;
  position: absolute;
  background-color: white;
}

.head-line + p {
  width: 550px;
  max-width: 100%;
  margin: auto;
  line-height: 2;
  color: #777;
}
/*end component  */

/* start global rules */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End global rules */

/* Start header */

.header {
  position: absolute;
  width: 100%;
  top: 0;
  color: white;
  z-index: 2;
}

.header .container {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  min-height: 97px;
}

.header .container::before {
  content: "";
  position: absolute;
  height: 2px;
  width: calc(100% - 30px);
  bottom: 0;
  left: 15px;
  background-color: white;
}

.header .container img {
  height: 40px;
}

.header .container nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header .container nav hr {
  height: 40px;
}

.header .container nav i {
  font-size: 1.3rem;
  cursor: pointer;
}

.header .container nav i.toggle-menu {
  display: none;
  font-size: 1.2rem;
}

.header .container nav ul {
  display: flex;
}

.header .container nav ul li {
  cursor: pointer;
  padding: 40px 10px;
  position: relative;
  z-index: 2;
  transition: 0.3s;
}

.header .container nav ul li a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: var(--main-color);
}

.header .container nav ul li.active,
.header .container nav ul li:hover {
  color: var(--main-color);
  border-bottom: 2px solid var(--main-color);
}

@media (max-width: 767px) {
  .header .container nav ul {
    display: none;
  }
  .header .container nav i.toggle-menu {
    display: inline-block;
  }

  .header .container nav ul li {
    padding: 15px !important;
  }
}

.toggle-class {
  display: flex !important;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  flex-direction: column;
  padding: 10px;
  background-color: black;
}

/* End header */

/* Start Landing */
.landing {
  background-image: url(../images/landing.jpg);
  min-height: 100vh;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
}

.landing .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0, 50%);
  top: 0;
  left: 0;
}

.landing i {
  color: white;
  z-index: 2;
}
.landing i:first-of-type {
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translate(-50%, 50%);
}

.landing i:last-of-type {
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translate(-50%, 50%);
}

.landing .bullets {
  position: absolute;
  bottom: 20px;
  display: flex;
  gap: 10px;
  left: 50%;
  transform: translate(-50%, 50%);
}

.landing .bullets li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid white;
}

.landing .bullets li:nth-child(2) {
  background-color: var(--main-color);
  border: none;
}

.landing .info {
  color: white;
  width: 50%;
  background-color: var(--transparent-color);
  padding: 50px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: flex-end;
}

.landing .info .content {
  max-width: 500px;
}

.landing .info .content h2 {
  line-height: 1.5;
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: normal;
}

.landing .info .content p {
  line-height: 2;
}

@media (max-width: 767px) {
  .landing .info {
    width: 100%;
  }
  .landing .info .content {
    width: 100%;
  }
  .landing i {
    display: none;
  }
}

@media (max-width: 500px) {
  .landing i {
    display: none;
  }
  .landing .info {
    padding: 25px;
  }
  .landing .info .content h2 {
    line-height: 1.4;
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  .landing .info .content p {
    line-height: 1.4;
  }

  .landing .bullets li {
    width: 10px;
    height: 10px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .landing .info .content h1 {
    line-height: 1.5;
  }
  .landing .info .content p {
    line-height: 1.5;
  }
}
/* End Landing */

/* Start Services */
.services {
  padding: 60px 0;
  text-align: center;
}

.services .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  margin-top: 80px;
  gap: 30px;
}

.services .content .card {
  display: flex;
  gap: 30px;
  text-align: left;
}

.services .content .card h3 {
  margin-bottom: 30px;
  color: var(--main-color);
}

.services .content .card p {
  line-height: 2;
  color: #777;
}

@media (max-width: 600px) {
  .services .content {
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 40px;
  }
  .services .content .card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

/* End Services */

/* Start Design */
.design {
  height: 100vh;
  background-image: url(../images/design-features.jpg);
  display: flex;
  position: relative;
  overflow: hidden;
  align-items: center;
}

.design .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 50%);
}

.design .image {
  flex: 1;
  text-align: center;
}

.design img {
  position: relative;
  z-index: 2;
  bottom: -150px;
}

@media (max-width: 767px) {
  .design .image {
    display: none;
  }
}

.design .text {
  width: 50%;
  position: relative;
  z-index: 2;
  background-color: var(--transparent-color);
  color: white;
  padding: 50px;
  flex: 1;
}

.design .text h3 {
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.5rem;
}

.design .text ul li {
  margin-bottom: 20px;
}

.design .text ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f108";
  font-weight: 900;
  margin-right: 20px;
  position: relative;
  top: 1px;
}

/* End Design */

/* Start Portfolio */
.portfolio {
  padding: var(--section-padding) 0;
  text-align: center;
}

.portfolio .buttons {
  margin: var(--section-padding) 0 40px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.portfolio .buttons li {
  padding: 10px;
}

.portfolio .buttons li:first-child {
  background-color: var(--main-color);
  color: white;
}

.portfolio .gallary {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
}

.portfolio .gallary .card {
  position: relative;
  overflow: hidden;
}

.portfolio .gallary .card img {
  width: 100%;
  transition: 0.3s;
  object-fit: cover;
  height: 100%;
}

.portfolio .gallary .card:hover img {
  transform: scale(1.1) rotate(3deg);
}

.portfolio .gallary .card:hover figcaption {
  bottom: 0;
  display: block;
  width: 100%;
}

.portfolio .gallary .card figcaption {
  position: absolute;
  transition: 0.3s;
  bottom: -84px;
  background-color: white;
  padding: 20px;
  width: 100%;
  text-align: left;
  display: none;
}

.portfolio .gallary .card figcaption p {
  color: var(--main-color);
}

.btn-div {
  text-align: center;
  margin: 30px 0;
}

.btn-div .btn-more {
  color: white;
  background-color: var(--main-color);
  outline: none;
  border: none;
  padding: 15px 20px;
  cursor: pointer;
}

/* End Portfolio */

/* Start Video Section */
.video {
  position: relative;
}

.video::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 50%);
}

.video video {
  width: 100%;
}

.video .info {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--transparent-color);
  z-index: 1;
  color: white;
  text-align: center;
  padding: 40px 0;
}

.video .info h4 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: normal;
}

.video .info p {
  margin-bottom: 20px;
}

.video .info button {
  background-color: black;
  color: white;
  text-transform: uppercase;
  padding: 10px;
  outline: 0;
  border: none;
  cursor: pointer;
}
/* End Video Section */

/* Start About Section */
.about {
  padding: var(--section-padding) 0 0;
  text-align: center;
  overflow: hidden;
}

.about img {
  position: relative;
  bottom: -120px;
  max-width: 100%;
  margin-top: -60px;
}

@media (max-width: 767px) {
  .about img {
    bottom: -50px;
    margin-top: 5px;
  }
}
/* End About Section */

/* Start state */

.state {
  padding: var(--section-padding) 0;
  background-image: url(../images/stats.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.state::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 70%);
  top: 0;
  left: 0;
}

.state .text {
  padding: 30px;
  display: flex;
  position: relative;
  z-index: 1;
  color: white;
  background-color: var(--transparent-color);
}
@media (max-width: 500px) {
  .state .text {
    flex-direction: column;
    gap: 30px;
  }
}

.state .text li {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  flex: 1;
}

@media (min-width: 501px) and (max-width: 992px) {
  .state .text {
    flex-wrap: wrap;
    gap: 20px;
  }
  .state .text li {
    flex-basis: 40%;
  }
}

.state .text li i {
  padding: 10px;
  border-radius: 50%;
  background-color: black;
  margin-bottom: 10px;
}
.state .text li span {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.state .text li p {
  font-size: 14px;
}

/* End state */

/* Start Testimonials */
.testimonials {
  padding: var(--section-padding) 0;
  text-align: center;
}

.testimonials .container {
  display: flex;
  gap: 90px;
}
@media (max-width: 767px) {
  .testimonials .container {
    flex-wrap: wrap;
  }
}

.testimonials .test {
  position: relative;
}

.testimonials .test .bullets {
  display: flex;
  gap: 5px;
  text-align: center;
  justify-content: center;
  margin-top: 50px;
}

.testimonials .test .bullets li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid gray;
}

.testimonials .test .bullets li:nth-child(2) {
  border: none;
  background-color: var(--main-color);
}

.testimonials .test > h3,
.testimonials .skills > h3 {
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 30px;
}

.testimonials .test > p,
.testimonials .skills > p {
  color: #777;
}

.testimonials .test .test-comment {
  display: flex;
  margin-top: 50px;
  gap: 20px;
}

.testimonials .test .test-comment img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.testimonials .test .test-comment .test-text h3 {
  font-size: 1rem;
  font-weight: normal;
  text-align: left;
  margin-bottom: 10px;
  line-height: 1.5;
}

@media (max-width: 767px) {
  .testimonials .test .test-comment {
    flex-direction: column;
    align-items: center;
  }
  .testimonials .test .test-comment .test-text h3 {
    text-align: center;
  }
}

.testimonials .test .test-comment .test-text span {
  display: block;
  text-align: right;
  font-size: 14px;
  padding-bottom: 10px;
  color: #777;
  border-bottom: 1px solid #ccc;
}

.testimonials .skills .all {
  margin-top: var(--section-padding);
}

.testimonials .skills .all p {
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 10px;
}
.testimonials .skills .all .base {
  height: 20px;
  background-color: gray;
  width: 100%;
  margin-bottom: 30px;
}
.testimonials .skills .all .color {
  width: 90%;
  background-color: var(--main-color);
  position: relative;
  height: 100%;
}

.testimonials .skills .all .skill:nth-child(2) .color {
  width: 85%;
}

.testimonials .skills .all .skill:nth-child(3) .color {
  width: 80%;
}

.testimonials .skills .all .num {
  padding: 5px;
  background-color: black;
  color: white;
  position: absolute;
  right: -20px;
  border-radius: 5px;
  top: -45px;
}

.testimonials .skills .all .num::after {
  content: "";
  position: absolute;
  border: 8px solid red;
  border-color: black transparent transparent transparent;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}
/* End Testimonials */

/* Start Quote */
.quote {
  padding: 100px 0;
  background-image: url("../images/quote.jpg");
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
}

.quote::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 70%);
}

.quote .container {
  position: relative;
  color: white;
  text-align: center;
}

.quote .container q {
  font-size: 2rem;
  margin-bottom: 20px;
  display: block;
}

/* End Quote */

/* Start pricing  */
.pricing {
  padding: var(--section-padding) 0;
  text-align: center;
}

.pricing .container .last {
  margin: 50px 0 20px;
  font-size: 1.2rem;
}

.pricing .container .btn-cont {
  padding: 15px 30px;
  color: white;
  background-color: var(--main-color);
  outline: none;
  font-size: 1.1rem;
  border: none;
}

.pricing .content {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}

.pricing .content .card {
  background-color: #fcfcfc;
}

.pricing .content .card .head {
  padding: 30px;
  text-align: center;
  border-top: 2px solid var(--main-color);
  border-bottom: 2px solid var(--main-color);
}
.pricing .content .card .head p {
  text-transform: uppercase;
  font-size: 1.5rem;
}
.pricing .content .card .head h2 {
  font-size: 4rem;
  font-weight: 700;
  position: relative;
}

.pricing .content .card .head h2 > sub,
.pricing .content .card .head h2 > sup {
  font-size: 1.5rem;
}

.pricing .content .card .head h2 > sup {
  font-weight: normal;
  margin-right: 10px;
  position: relative;
  bottom: 20px;
}

.pricing .content .card .features {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-bottom: 1px solid var(--main-color);
}

.pricing .content .card .features p:not(:last-child) {
  border-bottom: 1px solid var(--main-color);
  padding: 10px;
}

.pricing .content .card .btn-div {
  padding: 30px;
}
.pricing .content .card button {
  padding: 20px 30px;
  border: 1px solid var(--main-color);
  outline: none;
  background-color: transparent;
}

/* End pricing  */

/* Start Subscribe */
.subscribe {
  padding: var(--section-padding) 0;
  background-image: url("../images/subscribe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.subscribe::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 70%);
  top: 0;
  left: 0;
}

.subscribe .container {
  position: relative;
  display: flex;

  gap: 20px;
}

.subscribe .container p {
  color: white;
}

.subscribe .container .input-field {
  border: 1px solid white;
  width: fit-content;
  display: flex;
  align-items: center;
  color: white;
  padding-left: 20px;
  max-width: 100%;
}

.subscribe .container .input-field input::placeholder {
  color: white;
}
.subscribe .container .input-field input {
  background-color: transparent;
  font-size: 1.2rem;
  color: white;
  padding: 10px;
  border: none;
  outline: none;
  width: calc(100% - 130px);
}

.subscribe .container .input-field button {
  background-color: var(--main-color);
  color: white;
  padding: 20px;
  outline: none;
  border: none;
  width: 130px;
}

@media (max-width: 991px) {
  .subscribe .container {
    flex-direction: column;
  }
}
/* End Subscribe */

/* Start contact */
.contact {
  padding: var(--section-padding) 0;
  text-align: center;
}

.contact .content {
  display: flex;
  margin-top: 60px;
  gap: 50px;
}

.contact .content .info {
  width: 25%;
  text-align: left;
}

.contact .content .info h4 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 40px;
}

.contact .content .info h4:last-of-type {
  margin-top: 80px;
}

.contact .content .info p,
.contact .content .info address {
  color: #777;
  font-size: 1.2rem;
}

.contact .content form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact .content form input {
  font-size: 1.5rem;
  padding: 20px;
}

.contact .content form textarea {
  font-size: 1.5rem;
  width: 100% !important;
  height: 300px !important;
  resize: none;

  padding: 20px;
}

.contact .content form button {
  background-color: var(--main-color);
  padding: 20px 30px;
  text-transform: uppercase;
  color: white;
  border: none;
  outline: none;
  font-size: 1.1rem;
  margin-left: auto;
}

@media (max-width: 767px) {
  .contact .content {
    flex-direction: column-reverse;
    align-items: center;
    padding: 10px;
  }

  .contact .content .info {
    text-align: center;
    width: 50%;
  }
  .contact .content form {
    width: 100%;
  }
}
/* End contact */

/* Start Footer */

footer {
  padding: 60px 0;
  background-image: url("../images/subscribe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
}

footer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 70%);
  top: 0;
  left: 0;
}

footer .container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  color: white;
}

footer .container p:first-of-type {
  font-size: 1.5rem;
  font-weight: normal;
  text-transform: uppercase;
}

footer .container hr {
  width: 200px;
}

footer .container .icons {
  display: flex;
  width: 150px;
  justify-content: space-between;
}

footer .container span {
  color: var(--main-color);
}

/* End Footer */
